<footer class="footer">
   <div class="footer-content section-container">
      <p>
				 For more information contact: 
         <a href="mailto:dbracewell@dallascollege.edu">Dr. David Bracewell</a>
      </p>
      <div class="social-icons">
         <div style="display: flex; align-items: center; gap:4px"
            >
						<img src="{{ "images/instagram.png" | relURL}}"
						     width="20" height="20" alt="Instagram"/>
            <a href="https://www.instagram.com/dallascollegeaiclub/?hl=en"
               >Instagram</a
            ></span
         >
				 <div style="display: flex; align-items: center; gap:4px"
            >
						<img src="{{ "images/linkedin.png" | relURL}}"
						     width="20" height="20" alt="Instagram"/>
            <a href="https://www.linkedin.com/in/dallas-college-ai-club-richland-based-742338400/"
               >LinkedIn</a
            ></span
         >
      </div>
      <div class="footer-logo">© 2026 Dallas College AI Club</div>
   </div>
</footer>
