<nav class="navbar">
        <div class="logo">
            <img src="{{"images/logo.png" | relURL }}" alt="Dallas AI CLub Logo" class="circular-mask">
            <span>Dallas AI Club</span></div>
        <ul class="nav-links">
            <li><a href="{{ "/index.html" | relURL }}">Home</a></li>
            <li><a href="{{ "/projects/index.html" | relURL }}">Projects</a></li>
            <!-- <li><a href="{{ "/blog/index.html" | relURL }}">Blog</a></li> -->
            <li><a href="{{ "/news/index.html" | relURL }}">News</a></li>
            <li><a href="{{ "/events/index.html" | relURL }}">Events</a></li>
            <li><a href="{{ "/members/index.html" | relURL }}">Members</a></li>
            <li><a href="https://discord.gg/zbQbqdz6" class="btn-join">Join Us</a></li>
        </ul>
</nav>
