<nav class="navbar">
        <div class="logo">
            <img src="{{"images/logo.png" | relURL }}" alt="Dallas College AI CLub Logo" class="circular-mask">
            <span>Dallas College AI Club</span></div>
        <ul class="nav-links">
            <li><a href="{{ "/index.html" | relURL }}">Home</a></li>
            <li><a href="{{ "/projects/index.html" | relURL }}">Projects</a></li>
            <!-- <li><a href="{{ "/blog/index.html" | relURL }}">Blog</a></li> -->
            <!--<li><a href="{{ "/news/index.html" | relURL }}">News</a></li>-->
            <li><a href="{{ "/events/index.html" | relURL }}">Events</a></li>
            <!--<li><a href="{{ "/members/index.html" | relURL }}">Members</a></li>-->
            <li><a href="https://teams.microsoft.com/l/team/19%3AAeb1LfEOy4KBW0URKvOHS3kP_OMebVszQum-mc5xtrc1%40thread.tacv2/conversations?groupId=75d91295-0556-4fef-aa41-42299dd3cdef&tenantId=d67e5453-732f-4adc-94a4-4888f2d97d5d" class="btn-join">Join Us</a></li>
        </ul>
</nav>
