<footer class="footer">
   <div class="footer-content section-container">
      <p>
				 For more information contact: 
         <a href="mailto:dbracewell@dallascollege.edu">Dr. David Bracewell</a>
      </p>
      <div class="social-icons">
         <div style="display: flex; align-items: center; gap:4px"
            >
						<img src="{{ "images/instagram.png" | relURL}}"
						     width="20" height="20" alt="Instagram"/>
            <a href="https://www.instagram.com/dallascollegeaiclub/?hl=en"
               >Instagram</a
            ></span
         >
				 <div style="display: flex; align-items: center; gap:4px"
            >
						<img src="{{ "images/tiktok.png" | relURL}}"
						     width="20" height="20" alt="Instagram"/>
            <a href="https://www.tiktok.com/@dallascollegeaicl"
               >TikTok</a
            ></span
         >
				 <div style="display: flex; align-items: center; gap:4px"
            >
						<img src="{{ "images/linkedin.png" | relURL}}"
						     width="20" height="20" alt="Instagram"/>
            <a href="https://www.linkedin.com/in/dallas-college-ai-club-richland-based-742338400/"
               >LinkedIn</a
            ></span
         >
      </div>
      <div class="footer-logo">© 2026 Dallas AI Club</div>
   </div>
</footer>

<script>
   const dropdown = document.querySelector(".discord-dropdown");
   const panel = document.querySelector(".dropdown-panel");

   dropdown.addEventListener("click", (e) => {
      e.stopPropagation();
      panel.classList.toggle("open");
   });

   document.addEventListener("click", () => {
      panel.classList.remove("open");
   });

   async function loadDiscordStats() {
      try {
         const res = await fetch(
            "https://discord.com/api/guilds/1488571969569034476/widget.json",
         );
         const data = await res.json();

         document.getElementById("online-count").innerText =
            data.presence_count;

         document.getElementById("invite-link").href = data.instant_invite;
      } catch (err) {
         console.error("Discord widget failed:", err);
      }
   }

   loadDiscordStats();
</script>
